<table border="1">
  <tr>
    <th>Post title</th>
    <th>User</th>
    <th>Category</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let p of posts">
    <td>{{ p.title }}</td>
    <td>{{ p.user.firstname }}</td>
    <td>{{ p.category.title }}</td>
    <td>
      <button
        [routerLink]="['/admin', 'post-dashboard', 'update-post']"
        [state]="{ id: p.id }"        
      >
        Update
      </button>
    </td>
    <td><button>Delete</button></td>
  </tr>
</table>

<p [routerLink]="['/admin', 'post-dashboard', 'create-post']">Add post</p>
