<div class="main-category">
    <!-- <p class="cat">{{cat.title}}</p> -->
    <div class="category-posts">
        <div class="flat-card">
          <p>Posts</p>
          <mat-card class="category-post-card" *ngFor="let post of itemCount">
            <mat-card-header>
              <mat-card-title>{{post.title}}</mat-card-title>
              <mat-card-subtitle [innerHTML]="post.description | truncate:[100, post.description.length-100, 'start', '...']"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
</div>
